/*  your css code here. If applicable */
/* Body styling */
        body {
            background-color: yellow;
            text-align: center;
        }

        /* First Div - Flowers Photos */
        #f1 {
            font-size: 24px;
            margin-top: 20px;
        }

        /* Second Div - Roses Pictures */
        #f2 {
            font-size: 24px;
            margin-top: 20px;
		}


